@model IEnumerable<DBSystem.Entities.Producto>

@{
    ViewBag.Title = "Index";

    AjaxOptions ajaxopt = new AjaxOptions() 
    {
        UpdateTargetId = "listProductos",
        OnSuccess = "OnSuccessList",
        OnBegin = "OnBeginList",
    };
}

@section scripts{
    <script type="text/javascript">

        /*$(function () {
            $('#details').dialog({
                autoOpen:false,
                modal:true
            });
        });*/
        function OnSuccessList(data) {
            $('#listProductos').fadeIn("slow");
        }

        function OnBeginList(data) {
            $('#listProductos').fadeOut("slow");
        }


        function OnSuccessDetails(data) {
            $('#frmDetails').dialog({
                modal: true,
                buttons: {
                    'Cerrar': function () {
                        $(this).dialog('close')
                    }
                },
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }

        function OnSuccessAdd(data) {
            $('#frmAdd').dialog({
                modal: true,
                width: 350,
                buttons: {
                    'Guardar': function () {
                        $.validator.unobtrusive.parse($('#frmCreate'));
                        $("#frmCreate").submit();                        
                    },
                    'Cerrar': function () {
                        $(this).dialog('close');                        
                    }
                },
                close:function(){
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }

        function OnSuccessCreate(data)
        {
            if (data.ok==true) {
                $('#frmAdd').dialog('close');
            }
        }

        function OnSuccessEdit(data) {
            $('#frmEdit').dialog({
                modal: true,
                width: 350,
                buttons: {
                    'Guardar': function () {
                        $.validator.unobtrusive.parse($('#frmEditar'));
                        $("#frmEditar").submit();
                    },
                    'Cerrar': function () {
                        $(this).dialog('close');
                    }
                },
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }
    </script>
}

<h2>Index</h2>

@using (Ajax.BeginForm("Index",ajaxopt))
{
    <fieldset>
        <legend>Buscar Producto</legend>
        <b>Criterio:</b>
        @Html.TextBox("criterio")
        <input type="submit" value="Buscar" />
    </fieldset>
    <div id="listProductos">
    @Html.Partial("_Productos", Model)
    </div>
}

<div id="details"></div>
<div id="add"></div>
<div id="edit"></div>


