@model IEnumerable<DBSystem.Entities.Producto>

@{
    ViewBag.Title = "Index";

    AjaxOptions ajaxopt = new AjaxOptions() 
    {
        UpdateTargetId = "listProductos",
        OnSuccess = "OnSuccessList",
        OnBegin = "OnBeginList",
    };
}

@if (false)
{ 
   <script type="text/javascript" src="../../Scripts/jquery-2.0.2-vsdoc.js"></script>
}      

@section scripts{
    <script type="text/javascript">       
        function OnSuccessList(data) {
            $('#listProductos').fadeIn("slow");
        }

        function OnBeginList(data) {
            $('#listProductos').fadeOut("slow");
        }


        function OnSuccessDetails(data) {
            $('#frmDetails').dialog({
                modal: true,
                buttons: {
                    'Cerrar': function () {
                        $(this).dialog('close')
                    }
                },
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }
        
        function OnSuccessAdd(data) {
            var guardar = true;

            $('#Codigo').focusout(function () {
                var div = $(this).closest('.editor-field');
                var txt = $(this);
                if ($(this).val().length > 0) {
                    $.post('@Url.Action("getProductoByCodigoAjax")',
                           { codigo: $(this).val() },
                           function (data) {
                               if (data.ok == true) {
                                   var msg = '<span class="msg field-validation-error">El producto ya existe</span>';
                                   div.find('.msg').remove();
                                   div.append(msg);
                                   txt.addClass('input-validation-error');
                                   $('#btnGuardar').hide();
                                   guardar = false;
                               } else {
                                   div.find('.msg').remove();
                                   txt.removeClass('input-validation-error');
                                   guardar = true;
                                   $('#btnGuardar').show();
                               }
                           },
                           'json');
                }
            });

            $('#frmAdd').dialog({
                modal: true,
                width: 350,
                buttons: [
                    {  
                        id:'btnGuardar',
                        text: 'Guardar',
                        click: function () {
                            $.validator.unobtrusive.parse($('#frmCreate'));
                            if(guardar)
                                $("#frmCreate").submit();  
                        }                          
                    },
                    {
                        id:'btnCancelar',
                        text:'Cerrar',
                        click: function () {
                            $(this).dialog('close');
                        }                        
                    }
                ],
                close:function(){
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }

        function OnSuccessCreate(data)
        {
            if (data.ok==true) {
                $('#frmAdd').dialog('close');
            }
        }

        function OnSuccessEdit(data) {
            $('#frmEdit').dialog({
                modal: true,
                width: 350,
                buttons: {
                    'Guardar': function () {
                        $.validator.unobtrusive.parse($('#frmEditar'));
                        $("#frmEditar").submit();
                    },
                    'Cerrar': function () {
                        $(this).dialog('close');
                    }
                },
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }
    </script>
}

<h2>Index</h2>

@using (Ajax.BeginForm("Index",ajaxopt))
{
    <fieldset>
        <legend>Buscar Producto</legend>
        <b>Criterio:</b>
        @Html.TextBox("criterio")
        <input type="submit" value="Buscar" />
    </fieldset>
    <div id="listProductos">
    @Html.Partial("_Productos", Model)
    </div>
}

<div id="details"></div>
<div id="add"></div>
<div id="edit"></div>


